html {
    text-align: center;
}
table, th, td {
    border: solid 1px darkslateblue;
    border-collapse: collapse;
    text-align: left;
    border-spacing: 8px;
}
th {
    background-color: lightslategray;
}
td {
    padding: 1em darkslateblue;
    background-color: cornsilk;
}